<div class="container-fluid" style="padding: 0px;background:#fff;overflow-x:auto" [ngStyle]="{'display':flow?'flow-root':'block'}" #list>
  <div class="row" *ngIf="state == states().Processing" style="margin:0px">
    <div class="col-xs-12">
        <div class="list-message">
            One moment...
          </div>
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="state == states().Error" style="margin:0px">
    <div class="col-xs-12">
      <div class="alert alert-dismissible alert-warning">
        <h4>Oops!</h4>

        <p>An error was encountered, can you please try again?</p>
        <hr *ngIf="error">
        <small *ngIf="error">Here's what we know: <b>{{error.title}}</b> - {{error.description}}</small>
      </div>
    </div>
  </div>

  <div class="list" *ngIf="((items && items.length > 0) || headerOnEmpty) && state == states().List" [style.min-width]="minWidth">
    <div *ngIf="withHeader" class="list-header-row no-select">
        
      <div class="list-header-cell" style="width:24px" *ngIf="isSelectMode" (click)="onSortBySelected()">
        <i *ngIf="checkSortMode == sortMode().asc" class="fa fa-caret-up" aria-hidden="true"></i>
        <i *ngIf="checkSortMode == sortMode().desc" class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div class="list-header-cell" *ngFor="let cell of schema" [ngStyle]="{flex:cell.size}" [ngClass]="cell.isFiltering?'list-header-cell-filter':''">
        <div style="flex:1;cursor: pointer;" (click)="onSort(cell)">
          <span *ngIf="cell.type != 'spacer' && !cell.isFiltering">{{cell.name}}</span>
          <input type="text" *ngIf="cell.isFiltering" class="filter-box" (input)="onFilterUpdate($event.target.value, cell)"/>
          <i *ngIf="cell.sort == sortMode().asc" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="cell.sort == sortMode().desc" class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <i *ngIf="cell.filterable && !cell.isFiltering" style="float:right" class="col-filter-btn fa fa-search" aria-hidden="true" (click)="onFilter(cell, $event.target)"></i>
        <i *ngIf="cell.filterable && cell.isFiltering" style="float:right" class="col-filter-btn fa fa-times" aria-hidden="true" (click)="onFilter(cell)"></i>
      </div>
    </div>

    <div class="list-message" *ngIf="(!items || items.length == 0) && state == states().List" style="margin:0px">
      There doesn't seem to be anything here.
    </div>
  
    <div class="list-items">
      <virtual-scroll [items]="items" [style.height]="activeHeight" (update)="viewPortItems = $event" [scrollAnimationTime]="250">
        <div class="list-item no-select"
            *ngFor="let item of viewPortItems"
            (dblclick)="onItemDblClick($event, item)"
            (click)="onItemClick($event, item)"
            [ngClass]="itemClass(item)">
          <div class="list-item-container" [ngStyle]="{background:highlight?highlight(item):'inherit'}" [ngClass]="item.__checked?'selected-row':''" (contextmenu)="onRightClick($event, item)">
            
            <div class="list-item-cell" style="width:24px" *ngIf="isSelectMode">
              <input type="checkbox" [checked]="item.__checked" (change)="onItemCheck(item)"/>
            </div>

            <div class="list-item-cell" *ngFor="let cell of schema" [ngStyle]="{flex:cell.size, textAlign:cell.type=='icon'?'center':'left'}" [ngSwitch]="cell.type" [ngClass]="getClass(item,cell)">
              <ng-container *ngSwitchCase="'icon'">
                <i class="material-icons list-icon" *ngIf="!cell.fixed">{{getItemValue(item, cell.value, cell)}}</i>
                <i class="material-icons list-icon" *ngIf="cell.fixed">{{getItemValue(item, cell.value, cell)}}</i>
              </ng-container>
              <span *ngSwitchCase="'text'" [title]="getItemValue(item, cell.value, cell)">{{getItemValue(item, cell.value, cell)}}</span>
              <ng-container *ngSwitchCase="'boolean'">
                <i class="fa fa-check" *ngIf="getItemValue(item, cell.value, cell)"></i>
              </ng-container>
              <span *ngSwitchCase="'mapped'" [title]="cell.map[getItemValue(item, cell.value, cell)]">{{cell.map[getItemValue(item, cell.value, cell)]}}</span>
              <span *ngSwitchCase="'spacer'"></span>
              <span *ngSwitchCase="'price'">€ {{isNum(item,cell)? (getNumberValue(item, cell, cell.denomination) | number:'1.2-2'): "-"}}</span>
              <span *ngSwitchCase="'number'">{{cell.prefix}} {{isNum(item,cell)? (getNumberValue(item, cell, cell.denomination) | number:cell.format): "-"}} {{cell.suffix}}</span>
              <span *ngSwitchCase="'date'">{{asDate(getItemValue(item, cell.value, cell), cell.format?cell.format:'DD-MMM-YYYY HH:mm')}}</span>
              <input class="text-input" *ngSwitchCase="'input'" [type]="cell.input.type" [(ngModel)]="item[cell.value]" (change)="onItemValueChange(item, cell)"/>
            </div>
          </div>
      </div>
      </virtual-scroll>
    </div>
  </div>
</div>
<div class="dropdown clearfix" [ngStyle]="{position:'absolute', left:menu.x + 'px', top:menu.y + 'px', display:menu.active?'block':'none'}" #contextMenu>
  <ul class="dropdown-menu" style="display:block;position:static;margin-bottom:5px;">
    <li *ngFor="let contextItem of contextItems" [ngClass]="contextItem.separator?'divider':''">
      <a *ngIf="!contextItem.separator" tabindex="-1" (click)="onContextAction(contextItem)" [title]="contextItem.description?contextItem.description:contextItem.name">{{contextItem.name}}</a>
    </li>
  </ul>
</div>

